<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "layouts/form/texfield", f: f, input: {id: :title} %>
  
  <%= render "layouts/form/texfield", f: f, input: {id: :description, type: "textarea"} %>
 
  <!-- BUTTONS -->
  <div class="mdl-card__actions mdl-card--border">
  	<div class="actions">
    	<%= render "layouts/buttons", f: f %>
  	</div>
  </div>
<% end %>
