<% if actions %>
	<%= link_to 'Nueva Pregunta', new_question_path %>
<% end %>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Pregunta</th>
      <th >Respuestas</th>
    </tr>
  </thead>

  <tbody>
    <% questions.each do |question| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
        	<%= link_to question.title, question %><br/>
        	realizada por <%= question.client.fullName %> en <%= question.createdAtFormated %>
        </td>
        <td><%= question.answers.count %></td>
        <!-- <td><%= link_to 'Show', question %></td> 
        <td><%= link_to 'Edit', edit_question_path(question) %></td> -->
        <% if actions %>
        	<td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  
  <%= render "/layouts/form/paginable", colspan: 2, paginable: @questions, div: div %>
    
</table>