<% if actions %>
	<%= link_to 'Nueva Pregunta', new_question_path %>
<% end %>

<ul class="collection">
	<% questions.each do |question| %>
		<li class="collection-item avatar">
    		<span class="title"><%= question.title %></span>
    		<span class="hide-on-small-only count">Respuestas: <span class="blue-text text-darken-4"><%= question.answers.count %></span></span>
    		<blockquote>
    			realizada por <%= link_to question.client.fullName, client_path(question.client) %> 
				el dia <%= question.createdAtFormated %>
			</blockquotep>
    		<div class="secondary-content">
    			<!-- <a href="#!"><i class="material-icons">grade</i></a><br/> -->
    			<a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ver Pregunta"
    				href="<%= question_path question %>">
    				<i class="material-icons">send</i>
    			</a>
    		</div>
    	</li> 
    	<!-- <td><%= link_to 'Show', question %></td> 
        <td><%= link_to 'Edit', edit_question_path(question) %></td> -->  
	<% end %>
	<%= render "/layouts/form/paginable", colspan: 2, paginable: @questions, div: div %>
</ul>