<%= render 'layouts/header' %>

<div class ="container">
	<%= render "layouts/card/top", card: {class: "col l10 offset-l1"} %>
		<div class="card-content">
			<%= render "layouts/form/title", title: "Editar Pregunta" %>
			<div class="mdl-card__supporting-text mdl-card__actions mdl-card--border">
				<%= render 'form' %>
			</div>
		</div>
	<%= render "layouts/card/bottom" %>
	<%= link_to 'Back', "/dashboard" %>
</div>

<%= render 'layouts/footer' %> 
