<%= render 'layouts/header' %>

<div class="container">
	<div class="demo-card-wide mdl-card mdl-shadow--2dp center question">
		<%= render "layouts/form/title", title: "Editar Pregunta" %>
		<div class="mdl-card__supporting-text mdl-card__actions mdl-card--border">
			<%= render 'form' %>
		</div>
	</div>
	<%= link_to 'Back', "/dashboard" %>
</div>

<%= render 'layouts/footer' %> 
