<%= render 'layouts/header' %>

<!-- <p id="notice"><%= notice %></p> -->

<div class="row">
  	<div class="col s12 m6 l6">
  	
		<%= render "layouts/card/top", card: {class: ""} %>
			<div class="card-content">
				<%= render "layouts/form/title", title: @question.title %>
				
				<div class="content_supporting-text">
					<div class="text"><%= @question.description %></div>
					<div class="tags">
						<% @question.tags.each do |tag| %>
							<div class="chip">
								<% if !@user.nil? and @user.client == @question.client %>
									<i id="<%= question_tag_path(@question, tag, format: :json) %>" 
									class="material-icons">close</i>
								<% end %>
								<%= tag.description %>
							</div>
						<% end %>
					</div>
					<%= render "questions/info_client", question: @question %>
					
				</div>
	
				<% if (!@user.nil? and @question.client.id == @user.client.id) %>
					 <div class="actions card-action left-align">
  						<%= link_to 'Editar', edit_question_path(@question) %>
  						<%= link_to 'Responder', 'javascript:respond()' %>
  						<%= link_to 'Regresar', "/dashboard" %>
  					</div>
  				<% end %>
  			
  			</div>
		<%= render "layouts/card/bottom" %>
		
		<div id="respond"></div>
				
	</div>
	
	<div class="col s12 m6 l6">
		<div id="answers"></div>
	</div>
	
</div>

<script>
	function respond(){		
		$("#respond").load("<%= new_question_answer_path (@question) %>?ajax=true");
	}
	
	$(document).ready(function() {
		$("#answers").load("<%= question_answers_path (@question) %>?ajax=true");
		$(".chip > i").on('click', function(e){
			console.log(e.target.id);
			$.ajax({
    			url: e.target.id,
        		type: 'DELETE',
        		error: function(result, textStatus, serverEstatus){
        			console.log(result.responseText);
            		console.log(textStatus);
            		console.log(serverEstatus);
        		}
  			});
		});
	});
</script>
