<%= render 'layouts/header' %>

<!-- <p id="notice"><%= notice %></p> -->

<div class="row">
  	<div class="col s12 m6 l6">
  	
		<%= render "layouts/card/top", card: {class: ""} %>
			<div class="card-content">
				<%= render "layouts/form/title", title: @question.title %>
	
				<div class="content_supporting-text">
					<div><%= @question.description %></div>
					<%= render "questions/info_client", question: @question %>
				</div>
	
				<% if (!@user.nil? and @question.client.id == @user.client.id) %>
					 <div class="actions card-action left-align">
  						<%= link_to 'Editar', edit_question_path(@question) %>
  						<%= link_to 'Regresar', "/dashboard" %>
  					</div>
  				<% elsif(!@user.nil?) %>
  					<div class="actions card-action left-align">
  						<%= link_to 'Responder', 'javascript:respond()' %>
  					</div>
  				<% end %>
  			
  			</div>
		<%= render "layouts/card/bottom" %>
		
		<div id="respond"></div>
				
	</div>
	
	<div class="col s12 m6 l6">
		<div id="answers"></div>
	</div>
	
</div>

<script>
	function respond(){		
		$("#respond").load("<%= new_question_answer_path (@question) %>?ajax=true");
	}
	
	$(document).ready(function() {
		$("#answers").load("<%= question_answers_path (@question) %>?ajax=true");
	});
</script>
