<!-- <div class="row"> -->
	<div class="input-field <%= input[:field].nil? ? "" : input[:field][:class] %>">
		<% if defined? f %>
			<%= f.label input[:id] %>
    		<%= f.text_field input[:id], class: "validate" %>
		<% else %>
			<label for="<%= input[:id] %>"><%= input[:label] %></label><!--class="active"-->
    		<input id="<%= input[:id] %>" name="<%= input[:id] %>" type="<%= input[:type].nil? ? "text" : input[:type] %>" class="validate">
      	<% end %>
    </div>
<!--</div>-->