<div class="container center-align">
	<%= render "layouts/card/top", card: {class: "col s12 m6 offset-m3 l8 offset-l2"} %>
		<form action="/login/start" method="post">
        	<div class="card-content">
            	<%= render "layouts/form/title", title: "Inicio de Session" %>
            	
            	<!-- NOTIFICATION -->
        		<% if notice.presence %>
					<div class="alert alert-danger"><%= notice %></div>
				<% end %>
		
				<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
				
				<div class="space-center">
				
					<!-- USERNAME -->
					<%= render "layouts/form/texfield", input: {id: "user[username]", label: "Usuario:"} %>
						
					<br/>
  					
  					<!-- PASSWORD -->
					<%= render "layouts/form/texfield", input: {id: "user[password]", label: "Clave:", type: "password" } %>
											
  				</div>
  			</div>
  				
  			<!-- BUTTONS -->
  			<%= render "layouts/buttons", actions: {submit:"Login"} %>			
  		</form>
	<%= render "layouts/card/bottom" %>

	<div class="row">
		<%= link_to "¿No posee Cuenta?", new_client_path, class: "link" %>
	</div>
</div>