<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if defined? url %>
  	<%= f.hidden_field "url", value: url %>
  <% end %>

  <div class="row">
  	<div class="col s12 m6 l6">
  		<div class="section">
  			<%= render "layouts/form/subtitle", subtitle: "Informacion Basica" %>
  			<%= render "clients/client_fields", :f => f %>
  		</div>
  	</div>
  	
  	<div class="col s12 m6 l6">
  		<!-- USER'S ACCES -->
  		<div class="section">
  			<%= render "layouts/form/subtitle", subtitle: "Datos de Acceso" %>
  			<%= f.fields_for :users do |user| %> 
  				<%= render "users/user_fields", :f => user %>
  			<% end %>
  		</div>
  	</div>
  </div>
  
  <!-- BUTTONS -->
  <div class="mdl-card__actions mdl-card--border">
  	<div class="actions">
    	<%= render "layouts/buttons", f: f %>
  	</div>
  </div>
<% end %>