<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- FIRST NAME -->
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :firstName, class: "mdl-textfield__label" %>
    <%= f.text_field :firstName, class: "mdl-textfield__input" %>
  </div>
  
  <!-- LAST FIRST NAME -->
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :lastFirstName, class: "mdl-textfield__label" %>
    <%= f.text_field :lastFirstName, class: "mdl-textfield__input" %>
  </div>
  
  <!-- SEX -->
  <div class="field">
    <%= f.label :sex %><br>
    <% Client.sexValue.each do |sex| %>
    	<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="client_sex_<%= sex.downcase %>">
    		<%= f.radio_button :sex, sex, class: "mdl-radio__button" %>
    		<span class="mdl-radio__label"><%= sex %></span>
    	</label>
    <% end %>
  </div>
  
  <!-- AGE -->
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :age, class: "mdl-textfield__label" %>
    <%= f.text_field :age, class: "mdl-textfield__input", pattern: "-?[0-9]*(\.[0-9]+)?" %>
    <span class="mdl-textfield__error">No es un número!</span>
  </div>
  <br/>
  
  <!-- USER'S ACCES -->
  <%= f.label "DATOS DE ACCESO" %><br/>
  <%= f.fields_for :users do |user| %> 
  	<%= render "users/user_fields", :f => user %>
  <% end %>
  
  <!-- BUTTONS -->
  <div class="mdl-card__actions mdl-card--border">
  	<div class="actions">
    	<%= f.submit class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
  	</div>
  </div>
<% end %>




