<%= render 'layouts/header' %>

<div class="container">
	<%= render "layouts/card/top", card: {class: ""} %>
		<div class="card-content">
		
			<%= render "layouts/form/title", title: "Editar Perfil" %>
	
			<div class="mdl-card__supporting-text mdl-card__actions mdl-card--border">
				<%= render 'form' %>
			</div>
			
		</div>
	<%= render "layouts/card/bottom" %>
</div>

<!--
<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>
-->
