<ul class="collection collapsible" data-collapsible="expandable">
	<% answers.each do |answer| %>
		<li id="<%= answer.id %>">
      		<div class="collapsible-header">
      			<i class="material-icons">add_circle_outline</i>
      			<%= answer.title %>
      			<% if (@user != nil and @user.client.id == answer.client.id) %>
      				<%= link_to "Editar", edit_question_answer_path(@question, answer), class: "secondary-content" %>
      			<% end %>
      		</div>
      		<div class="collapsible-body">
      			<div class="col s9 m9 l9 text"><p class="truncate"><%= answer.description %></p></div>
      			<div class="col s3 m3 l3 raiting">
					<% if answer.rates('vote').count > 0 %>
						<%= rating_for answer, "vote", imdb_avg: true %>
					<% end %>
				</div>
      			<p><%= render "answers/info_client", answer: answer %></p>
      			<hr style="width:90%"/>
      			<p>
      				<%= link_to "Ver Respuesta", question_answer_path(@question, answer) %>
      			</p>
      		</div>
    	</li>
	<% end %>
	<%= render "/layouts/form/paginable", colspan: 3, paginable: answers, div: div %>
</ul>

<script>
	$(document).ready(function(){
    	$('.collapsible').collapsible({
      		accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    	});
  	});
</script>