<%= render 'layouts/header' %>

<!--<p id="notice"><%= notice %></p>-->

<div class="container">
	<%= render "layouts/card/top", card: {class: "col s12 m8 l8 offset-m2 offset-l2"} %>
		<div class="card-content">
			<%= render "layouts/form/title", title: @answer.title %>
			<div class="mdl-card__supporting-text mdl-card__actions mdl-card--border">
				<br/>
				<%= @answer.description %>
			</div>
			<% if (!@user.nil? and @answer.client.id == @user.client.id) %>
				<div class="actions card-action left-align">
  					<%= link_to 'Edit', edit_question_answer_path(@question, @answer) %>
					<%= link_to 'Back', question_path(@question) %>
  				</div>
  			<% end %>
		</div>
	<%= render "layouts/card/bottom" %>
	<%= link_to 'Back', question_path(@question) %>
</div>

<%= render 'layouts/footer' %>